main {
    height: 100svh;
    display: grid;
    place-items: center;
    background-color: var(--color-primary);
    background-size: 100px 100px;
    background-image: linear-gradient(to left, var(--color-ternary) 1px, transparent 1px),
        linear-gradient(to bottom, var(--color-ternary) 1px, transparent 1px);
    background-position: center;
    overflow: hidden;
}

main>.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    background-image: linear-gradient(to bottom, var(--color-primary) 0%, var(--color-primary) 50%, transparent 75%, var(--color-primary) 75%, var(--color-primary) 100%);
    background-size: 100% 400%;
    background-position: 50% 0%;
}

@media (orientation: landscape) {
    main {
        background-size: 10svw 10svw;
    }
}

@media (orientation: portrait) {
    main {
        background-size: 10svh 10svh;
    }
}